<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <header>
        <form method='post' action='/sign_out?_method=DELETE'>
            <button type="submit">LogOut</button>
        </form>
        <hr>
    </header>

    {{{body}}}

</body>
</html>