<h1>Sign In</h1>
<form method="post" action={{signInPostPath}}>
    <label for="email">Email</label>
    <input type="text" id="email" name="email"/>
    <hr>

    <label for="password">Password</label>
    <input type="text" id="password" name="password" required/>    

    <button type="submit">sign in</button>
</form>