<form method="post" action={{companiesCreatePath}}>
    {{> companies}}

    Name: <input type="text" name="name">
    <hr>
    Email: <input type="text" name="email">
    <hr>
    User id: <input type="number" name="user_id">
    <hr>

    <button>Add</button>
</form>